# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
coverage/
test-results/
playwright-report/
playwright/.cache/

# next.js
.next/
/out/

# production
build/

# misc
.DS_Store
.wireit/

# debug
*.log*

# env files
.env
.env.development
.env.local
.env.production

# build artifacts
dist/

# Generated Docusaurus files
.docusaurus/
.cache-loader/
/test-results/

# playwright
/playwright-report/
/blob-report/
/playwright/.cache/

# Storybook
storybook-static/

#i18next-parse output
locales/

.terraform

# Claude Code
.claude