@tailwind base;

@layer base {
    .Formio {
        a {
            @apply underline text-primary500;
          }
        
        h2 {
            @apply text-desktop-heading-xxl;
        }
    
        .formio-component-htmlelement ul {
            @apply pl-20;
          }
    
        .formio-component-htmlelement li {
            @apply pl-4;
          }
    
        p + p {
            margin-top: 1em;
        }
    
        [ref='component'] + [ref='component'] {
            @apply mt-40;
        }

        [data-icon="pencil"] {
            @apply inline-block !w-[24px] pencil-icon !translate-y-[3px];
        }
    
        [data-testid='formio-sfds-fieldset'] label {
            @apply text-body;
        }

        .formio-component-introFormDuration strong {
            @apply inline-flex gap-8 !items-baseline !font-normal before:!clock-icon before:!pl-[24px] before:translate-y-[6px];
        }

        /* Overrides bootstrap styles for SFDS custom components to match design system */
        .bg-blue-1 {
            @apply  w-full !inline-flex p-20 md:px-28 lg:p-28
            bg-information50 border-1 border-information600
            link:text-primary500 link:underline
            before:!info-icon before:!pl-[24px];
        }
    
        .bg-green-1 {
            @apply  w-full !inline-flex p-20 md:px-28 lg:p-28
            bg-success50 border-1 border-success600
            link:text-primary500 link:underline
            before:!success-icon before:!pl-[24px];
        }
    
        .bg-red-1 {
            @apply w-full !inline-flex p-20 md:px-28 lg:p-28
            bg-danger50 border-1 !border-danger600
            link:text-primary500 link:underline
            before:!alert-icon before:!pl-[24px];
        }
    
        .fg-blue-4 {
            @apply !text-information400;
        } 
        
        .fg-green-4 {
            @apply !text-success400;
        }
    
        .fg-red-4 {
            @apply !text-danger400;
        }
        
        .btn:focus {
            box-shadow: 0 0 0 0.2rem #2A60AF !important;
        }
    
        .btn-primary {
            @apply !items-center !justify-center !shrink-0 !rounded-4 !gap-8 !px-16 !py-[15px] 
            !border-current !border-solid  !border-1 
            !font-medium !text-white !text-label-xs !text-center 
            !bg-primary600 !no-underline !whitespace-nowrap !w-fit !transition-none
            hover:!bg-primary800 hover:!border-1 hover:!cursor-pointer
            focus:!bg-primary800 focus:!ring-[3px] focus:!ring-offset-4 focus:!ring-primary500 
            disabled:!text-neutral300  disabled:!border-neutral100 disabled:!bg-neutral100 disabled:!cursor-not-allowed;
        }
    
        .btn-link {
            @apply before:right-arrow-blue !text-primary600 !transition-none disabled:!text-neutral200 disabled:!bg-[transparent] disabled:before:!right-arrow-disabled;
    
        }
    
        .progress-container {
            @apply flex gap-28 px-4 py-2 border rounded-4;
        }
    
        .form-control.selection {
            @apply appearance-none !h-[56px] w-full p-16 !border-none place-self-center;
        }
    
        .formio-choices {
            @apply !h-[56px] !w-full place-self-center !border-1 !border-black !rounded-4;
        }
    
        .formio-choices.is-focused {
            @apply !border-[3px] !border-primary500 !rounded-4;
        }
    
        .formio-component-htmlelement > .row {
            @apply grid grid-cols-2 p-8 !ml-0 border-b-2 border-neutral200;
        }
    
        .table td.cell-align-left {
            @apply !align-middle !space-y-8 xs:!px-[1px] sm:!px-4 !break-normal;
        }
    }
}