@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ol {
    list-style: decimal;
    margin: 16px 0;
    padding-left: 40px;
  }

  ul {
    list-style: disc;
    margin: 16px 0;
    padding-left: 40px;
  }

  a {
    @apply underline text-primary500;
  }

  h2 {
    @apply text-desktop-heading-xxl;
  }

  p + p {
    margin-top: 1em;
  }

  [ref='component'] + [ref='component'] {
    @apply mt-space-desktop-xl;
  }

  [data-testid='formio-sfds-fieldset'] label {
    @apply text-body;
  }

  /* Adding this temporarily until styling is changed directly  */
  .Formio .bg-blue-1 {
    @apply !bg-information100 py-20 px-28 border border-2 border-information600;
  }

  .btn:focus {
    box-shadow: 0 0 0 0.2rem #2A60AF !important;
  }

  /* Overrides bootstrap styles for SFDS buttons to match FormIO buttons */
  .Formio .btn-primary {
    @apply !items-center !justify-center !shrink-0 !rounded-4 !gap-8 !px-16 !py-[15px] 
    !border-current !border-solid  !border-1 
    !font-medium !text-white !text-label-xs !text-center 
    !bg-primary600 !no-underline !whitespace-nowrap !w-fit !transition-none
    hover:!bg-primary800 hover:!border-1 hover:!cursor-pointer
    focus:!bg-primary800 focus:!ring-[3px] focus:!ring-offset-4 focus:!ring-primary500 
    disabled:!text-neutral300  disabled:!border-neutral100 disabled:!bg-neutral100 disabled:!cursor-not-allowed;
}

  .Formio .btn-link {
    @apply before:right-arrow-blue !text-primary600 !transition-none disabled:!text-neutral200 disabled:!bg-[transparent] disabled:before:!right-arrow-disabled;

}

  .Formio .progress-container {
    @apply flex gap-28 px-4 py-2 border rounded-4;
  }

  .Formio .form-control.selection {
    @apply appearance-none !h-[56px] w-full p-16 !border-none place-self-center;
  }

  .Formio .formio-choices {
    @apply !h-[56px] !w-full place-self-center !border-1 !border-black !rounded-4;
  }

  .Formio .formio-choices.is-focused {
    @apply !border-[3px] !border-primary500 !rounded-4;
  }

  .Formio .formio-component-htmlelement > .row {
    @apply grid grid-cols-2 p-8 !ml-0 border-b-2 border-neutral200;
  }

  .Formio .table td.cell-align-left {
    @apply !align-middle !space-y-8 xs:!px-[1px] sm:!px-4 !break-normal;
  }
}
