:root {
  --paragraph-indent-0: 0px;
  --text-decoration-none: none;
  --text-case-none: none;
  --paragraph-spacing-0: 0;
  --letter-spacing-0: 0;
  --font-weights-roboto-flex-1: Regular;
  --font-weights-roboto-slab-0: Regular;
  --line-heights-0: AUTO;
  --font-size-10: 48;
  --font-size-9: 40;
  --font-size-8: 38;
  --font-size-7: 32;
  --font-size-6: 30;
  --font-size-5: 26;
  --font-size-4: 25;
  --font-size-3: 21;
  --font-size-2: 20;
  --font-size-1: 16;
  --font-size-0: 14;
  --font-families-roboto-flex: Roboto Flex;
  --font-families-roboto-slab: Roboto Slab;
  --black: #090909;
  --white: #ffffff;
  --grey-900: #202020;
  --grey-800: #3b3b3b;
  --grey-700: #555555;
  --grey-600: #707070;
  --grey-500: #8b8b8b;
  --grey-400: #a5a5a5;
  --grey-300: #c0c0c0;
  --grey-200: #dadada;
  --grey-100: #f5f5f5;
  --purple-900: #202020;
  --purple-800: #3b3b3b;
  --purple-700: #555555;
  --purple-600: #707070;
  --purple-500: #8b8b8b;
  --purple-400: #a5a5a5;
  --purple-300: #c0c0c0;
  --purple-200: #dadada;
  --purple-100: #f5f5f5;
  --blue-900: #202020;
  --blue-800: #3b3b3b;
  --blue-700: #555555;
  --blue-600: #707070;
  --blue-500: #8b8b8b;
  --blue-400: #a5a5a5;
  --blue-300: #c0c0c0;
  --blue-200: #dadada;
  --blue-100: #f5f5f5;
  --green-900: #202020;
  --green-800: #3b3b3b;
  --green-700: #555555;
  --green-600: #707070;
  --green-500: #8b8b8b;
  --green-400: #a5a5a5;
  --green-300: #c0c0c0;
  --green-200: #dadada;
  --green-100: #f5f5f5;
  --yellow-900: #202020;
  --yellow-800: #3b3b3b;
  --yellow-700: #555555;
  --yellow-600: #707070;
  --yellow-500: #8b8b8b;
  --yellow-400: #a5a5a5;
  --yellow-300: #c0c0c0;
  --yellow-200: #dadada;
  --yellow-100: #f5f5f5;
  --orange-900: #202020;
  --orange-800: #3b3b3b;
  --orange-700: #555555;
  --orange-600: #707070;
  --orange-500: #8b8b8b;
  --orange-400: #a5a5a5;
  --orange-300: #c0c0c0;
  --orange-200: #dadada;
  --orange-100: #f5f5f5;
  --red-900: #202020;
  --red-800: #3b3b3b;
  --red-700: #555555;
  --red-600: #707070;
  --red-500: #8b8b8b;
  --red-400: #a5a5a5;
  --red-300: #c0c0c0;
  --red-200: #dadada;
  --red-100: #f5f5f5;
  --mobile-subtitle-text-decoration: var(--text-decoration-none);
  --mobile-subtitle-text-case: var(--text-case-none);
  --mobile-subtitle-paragraph-indent: var(--paragraph-indent-0);
  --mobile-subtitle-paragraph-spacing: var(--paragraph-spacing-0);
  --mobile-subtitle-letter-spacing: var(--letter-spacing-0);
  --mobile-subtitle-font-size: var(--font-size-0);
  --mobile-subtitle-line-height: var(--line-heights-0);
  --mobile-subtitle-font-weight: var(--font-weights-roboto-flex-1);
  --mobile-subtitle-font-family: var(--font-families-roboto-flex);
  --mobile-p-text-decoration: var(--text-decoration-none);
  --mobile-p-text-case: var(--text-case-none);
  --mobile-p-paragraph-indent: var(--paragraph-indent-0);
  --mobile-p-paragraph-spacing: var(--paragraph-spacing-0);
  --mobile-p-letter-spacing: var(--letter-spacing-0);
  --mobile-p-font-size: var(--font-size-1);
  --mobile-p-line-height: var(--line-heights-0);
  --mobile-p-font-weight: var(--font-weights-roboto-flex-1);
  --mobile-p-font-family: var(--font-families-roboto-flex);
  --mobile-h5-text-decoration: var(--text-decoration-none);
  --mobile-h5-text-case: var(--text-case-none);
  --mobile-h5-paragraph-indent: var(--paragraph-indent-0);
  --mobile-h5-paragraph-spacing: var(--paragraph-spacing-0);
  --mobile-h5-letter-spacing: var(--letter-spacing-0);
  --mobile-h5-font-size: var(--font-size-1);
  --mobile-h5-line-height: var(--line-heights-0);
  --mobile-h5-font-weight: var(--font-weights-roboto-flex-1);
  --mobile-h5-font-family: var(--font-families-roboto-flex);
  --mobile-h4-text-decoration: var(--text-decoration-none);
  --mobile-h4-text-case: var(--text-case-none);
  --mobile-h4-paragraph-indent: var(--paragraph-indent-0);
  --mobile-h4-paragraph-spacing: var(--paragraph-spacing-0);
  --mobile-h4-letter-spacing: var(--letter-spacing-0);
  --mobile-h4-font-size: var(--font-size-1);
  --mobile-h4-line-height: var(--line-heights-0);
  --mobile-h4-font-weight: var(--font-weights-roboto-slab-0);
  --mobile-h4-font-family: var(--font-families-roboto-slab);
  --mobile-h3-text-decoration: var(--text-decoration-none);
  --mobile-h3-text-case: var(--text-case-none);
  --mobile-h3-paragraph-indent: var(--paragraph-indent-0);
  --mobile-h3-paragraph-spacing: var(--paragraph-spacing-0);
  --mobile-h3-letter-spacing: var(--letter-spacing-0);
  --mobile-h3-font-size: var(--font-size-3);
  --mobile-h3-line-height: var(--line-heights-0);
  --mobile-h3-font-weight: var(--font-weights-roboto-slab-0);
  --mobile-h3-font-family: var(--font-families-roboto-slab);
  --mobile-h2-text-decoration: var(--text-decoration-none);
  --mobile-h2-text-case: var(--text-case-none);
  --mobile-h2-paragraph-indent: var(--paragraph-indent-0);
  --mobile-h2-paragraph-spacing: var(--paragraph-spacing-0);
  --mobile-h2-letter-spacing: var(--letter-spacing-0);
  --mobile-h2-font-size: var(--font-size-5);
  --mobile-h2-line-height: var(--line-heights-0);
  --mobile-h2-font-weight: var(--font-weights-roboto-slab-0);
  --mobile-h2-font-family: var(--font-families-roboto-slab);
  --mobile-h1-text-decoration: var(--text-decoration-none);
  --mobile-h1-text-case: var(--text-case-none);
  --mobile-h1-paragraph-indent: var(--paragraph-indent-0);
  --mobile-h1-paragraph-spacing: var(--paragraph-spacing-0);
  --mobile-h1-letter-spacing: var(--letter-spacing-0);
  --mobile-h1-font-size: var(--font-size-6);
  --mobile-h1-line-height: var(--line-heights-0);
  --mobile-h1-font-weight: var(--font-weights-roboto-slab-0);
  --mobile-h1-font-family: var(--font-families-roboto-slab);
  --tablet-subtitle-text-decoration: var(--text-decoration-none);
  --tablet-subtitle-text-case: var(--text-case-none);
  --tablet-subtitle-paragraph-indent: var(--paragraph-indent-0);
  --tablet-subtitle-paragraph-spacing: var(--paragraph-spacing-0);
  --tablet-subtitle-letter-spacing: var(--letter-spacing-0);
  --tablet-subtitle-font-size: var(--font-size-0);
  --tablet-subtitle-line-height: var(--line-heights-0);
  --tablet-subtitle-font-weight: var(--font-weights-roboto-flex-1);
  --tablet-subtitle-font-family: var(--font-families-roboto-flex);
  --tablet-p-text-decoration: var(--text-decoration-none);
  --tablet-p-text-case: var(--text-case-none);
  --tablet-p-paragraph-indent: var(--paragraph-indent-0);
  --tablet-p-paragraph-spacing: var(--paragraph-spacing-0);
  --tablet-p-letter-spacing: var(--letter-spacing-0);
  --tablet-p-font-size: var(--font-size-1);
  --tablet-p-line-height: var(--line-heights-0);
  --tablet-p-font-weight: var(--font-weights-roboto-flex-1);
  --tablet-p-font-family: var(--font-families-roboto-flex);
  --tablet-h5-text-decoration: var(--text-decoration-none);
  --tablet-h5-text-case: var(--text-case-none);
  --tablet-h5-paragraph-indent: var(--paragraph-indent-0);
  --tablet-h5-paragraph-spacing: var(--paragraph-spacing-0);
  --tablet-h5-letter-spacing: var(--letter-spacing-0);
  --tablet-h5-font-size: var(--font-size-1);
  --tablet-h5-line-height: var(--line-heights-0);
  --tablet-h5-font-weight: var(--font-weights-roboto-flex-1);
  --tablet-h5-font-family: var(--font-families-roboto-flex);
  --tablet-h4-text-decoration: var(--text-decoration-none);
  --tablet-h4-text-case: var(--text-case-none);
  --tablet-h4-paragraph-indent: var(--paragraph-indent-0);
  --tablet-h4-paragraph-spacing: var(--paragraph-spacing-0);
  --tablet-h4-letter-spacing: var(--letter-spacing-0);
  --tablet-h4-font-size: var(--font-size-2);
  --tablet-h4-line-height: var(--line-heights-0);
  --tablet-h4-font-weight: var(--font-weights-roboto-slab-0);
  --tablet-h4-font-family: var(--font-families-roboto-slab);
  --tablet-h3-text-decoration: var(--text-decoration-none);
  --tablet-h3-text-case: var(--text-case-none);
  --tablet-h3-paragraph-indent: var(--paragraph-indent-0);
  --tablet-h3-paragraph-spacing: var(--paragraph-spacing-0);
  --tablet-h3-letter-spacing: var(--letter-spacing-0);
  --tablet-h3-font-size: var(--font-size-5);
  --tablet-h3-line-height: var(--line-heights-0);
  --tablet-h3-font-weight: var(--font-weights-roboto-slab-0);
  --tablet-h3-font-family: var(--font-families-roboto-slab);
  --tablet-h2-text-decoration: var(--text-decoration-none);
  --tablet-h2-text-case: var(--text-case-none);
  --tablet-h2-paragraph-indent: var(--paragraph-indent-0);
  --tablet-h2-paragraph-spacing: var(--paragraph-spacing-0);
  --tablet-h2-letter-spacing: var(--letter-spacing-0);
  --tablet-h2-font-size: var(--font-size-7);
  --tablet-h2-line-height: var(--line-heights-0);
  --tablet-h2-font-weight: var(--font-weights-roboto-slab-0);
  --tablet-h2-font-family: var(--font-families-roboto-slab);
  --tablet-h1-text-decoration: var(--text-decoration-none);
  --tablet-h1-text-case: var(--text-case-none);
  --tablet-h1-paragraph-indent: var(--paragraph-indent-0);
  --tablet-h1-paragraph-spacing: var(--paragraph-spacing-0);
  --tablet-h1-letter-spacing: var(--letter-spacing-0);
  --tablet-h1-font-size: var(--font-size-8);
  --tablet-h1-line-height: var(--line-heights-0);
  --tablet-h1-font-weight: var(--font-weights-roboto-slab-0);
  --tablet-h1-font-family: var(--font-families-roboto-slab);
  --desktop-subtitle-text-decoration: var(--text-decoration-none);
  --desktop-subtitle-text-case: var(--text-case-none);
  --desktop-subtitle-paragraph-indent: var(--paragraph-indent-0);
  --desktop-subtitle-paragraph-spacing: var(--paragraph-spacing-0);
  --desktop-subtitle-letter-spacing: var(--letter-spacing-0);
  --desktop-subtitle-font-size: var(--font-size-0);
  --desktop-subtitle-line-height: var(--line-heights-0);
  --desktop-subtitle-font-weight: var(--font-weights-roboto-flex-1);
  --desktop-subtitle-font-family: var(--font-families-roboto-flex);
  --desktop-p-text-decoration: var(--text-decoration-none);
  --desktop-p-text-case: var(--text-case-none);
  --desktop-p-paragraph-indent: var(--paragraph-indent-0);
  --desktop-p-paragraph-spacing: var(--paragraph-spacing-0);
  --desktop-p-letter-spacing: var(--letter-spacing-0);
  --desktop-p-font-size: var(--font-size-1);
  --desktop-p-line-height: var(--line-heights-0);
  --desktop-p-font-weight: var(--font-weights-roboto-flex-1);
  --desktop-p-font-family: var(--font-families-roboto-flex);
  --desktop-h5-text-decoration: var(--text-decoration-none);
  --desktop-h5-text-case: var(--text-case-none);
  --desktop-h5-paragraph-indent: var(--paragraph-indent-0);
  --desktop-h5-paragraph-spacing: var(--paragraph-spacing-0);
  --desktop-h5-letter-spacing: var(--letter-spacing-0);
  --desktop-h5-font-size: var(--font-size-2);
  --desktop-h5-line-height: var(--line-heights-0);
  --desktop-h5-font-weight: var(--font-weights-roboto-flex-1);
  --desktop-h5-font-family: var(--font-families-roboto-flex);
  --desktop-h4-text-decoration: var(--text-decoration-none);
  --desktop-h4-text-case: var(--text-case-none);
  --desktop-h4-paragraph-indent: var(--paragraph-indent-0);
  --desktop-h4-paragraph-spacing: var(--paragraph-spacing-0);
  --desktop-h4-letter-spacing: var(--letter-spacing-0);
  --desktop-h4-font-size: var(--font-size-4);
  --desktop-h4-line-height: var(--line-heights-0);
  --desktop-h4-font-weight: var(--font-weights-roboto-slab-0);
  --desktop-h4-font-family: var(--font-families-roboto-slab);
  --desktop-h3-text-decoration: var(--text-decoration-none);
  --desktop-h3-text-case: var(--text-case-none);
  --desktop-h3-paragraph-indent: var(--paragraph-indent-0);
  --desktop-h3-paragraph-spacing: var(--paragraph-spacing-0);
  --desktop-h3-letter-spacing: var(--letter-spacing-0);
  --desktop-h3-font-size: var(--font-size-7);
  --desktop-h3-line-height: var(--line-heights-0);
  --desktop-h3-font-weight: var(--font-weights-roboto-slab-0);
  --desktop-h3-font-family: var(--font-families-roboto-slab);
  --desktop-h2-text-decoration: var(--text-decoration-none);
  --desktop-h2-text-case: var(--text-case-none);
  --desktop-h2-paragraph-indent: var(--paragraph-indent-0);
  --desktop-h2-paragraph-spacing: var(--paragraph-spacing-0);
  --desktop-h2-letter-spacing: var(--letter-spacing-0);
  --desktop-h2-font-size: var(--font-size-9);
  --desktop-h2-line-height: var(--line-heights-0);
  --desktop-h2-font-weight: var(--font-weights-roboto-slab-0);
  --desktop-h2-font-family: var(--font-families-roboto-slab);
  --desktop-h1-text-decoration: var(--text-decoration-none);
  --desktop-h1-text-case: var(--text-case-none);
  --desktop-h1-paragraph-indent: var(--paragraph-indent-0);
  --desktop-h1-paragraph-spacing: var(--paragraph-spacing-0);
  --desktop-h1-letter-spacing: var(--letter-spacing-0);
  --desktop-h1-font-size: var(--font-size-10);
  --desktop-h1-line-height: var(--line-heights-0);
  --desktop-h1-font-weight: var(--font-weights-roboto-slab-0);
  --desktop-h1-font-family: var(--font-families-roboto-slab);
}
