:root {
  --font-families-roboto-mono: Roboto Mono;
  --font-families-roboto-flex: Roboto Flex;
  --font-families-roboto-slab: Roboto Slab;
  --paragraph-indent-0: 0px;
  --text-decoration-underline: underline;
  --text-decoration-none: none;
  --text-case-uppercase: uppercase;
  --text-case-none: none;
  --paragraph-spacing-0: 0;
  --letter-spacing-2: 0;
  --letter-spacing-1: 1%;
  --letter-spacing-0: 0%;
  --font-size-7: 46;
  --font-size-6: 46;
  --font-size-5: 40;
  --font-size-4: 32;
  --font-size-3: 24;
  --font-size-2: 20;
  --font-size-1: 16;
  --font-size-0: 14;
  --font-weights-roboto-mono-8: Regular;
  --font-weights-roboto-slab-4: Bold;
  --font-weights-roboto-flex-8: Italic;
  --font-weights-roboto-flex-7: Medium;
  --font-weights-roboto-flex-6: Italic;
  --font-weights-roboto-flex-5: ExtraBold;
  --font-weights-roboto-flex-4: Bold;
  --font-weights-roboto-flex-3: SemiBold;
  --font-weights-roboto-slab-2: Medium;
  --font-weights-roboto-flex-1: Regular;
  --font-weights-roboto-slab-0: SemiBold;
  --line-heights-9: 40;
  --line-heights-8: 40;
  --line-heights-7: 48;
  --line-heights-6: 20;
  --line-heights-5: 24;
  --line-heights-4: 28;
  --line-heights-3: 44;
  --line-heights-2: 52;
  --line-heights-1: 32;
  --line-heights-0: 56;
  --primitive-15: 60;
  --primitive-14: 56;
  --primitive-13: 52;
  --primitive-12: 48;
  --primitive-11: 44;
  --primitive-10: 40;
  --primitive-9: 36;
  --primitive-8: 32;
  --primitive-7: 28;
  --primitive-6: 24;
  --primitive-5: 20;
  --primitive-4: 16;
  --primitive-3: 12;
  --primitive-2: 8;
  --primitive-1: 4;
  --primitive-0: 0;
  --external-brands-you-tube: #ff0000;
  --external-brands-tiktok: #000000;
  --external-brands-linkedin: #0077b5;
  --external-brands-threads: #000000;
  --external-brands-instagram: #ff0076;
  --external-brands-facebook: #1877f2;
  --external-brands-mastodon: #6364ff;
  --external-brands-x-twitter: #000000;
  --black-white-black: #0b0c0c;
  --black-white-white: #fcfcfc;
  --neutral-source: #0b0c0c;
  --neutral-900: #0b0b0b;
  --neutral-800: #202121;
  --neutral-700: #383939;
  --neutral-600: #535454;
  --neutral-500: #6e7070;
  --neutral-400: #8b8d8d;
  --neutral-300: #aaabab;
  --neutral-200: #c9caca;
  --neutral-100: #e9eaea;
  --neutral-50: #eff0f0;
  --neutral-10: #f7f8f8;
  --danger-source: #d81c14;
  --danger-900: #280000;
  --danger-800: #550000;
  --danger-700: #810000;
  --danger-600: #ac0000;
  --danger-500: #d0110b;
  --danger-400: #ec4e3e;
  --danger-300: #ff7f6e;
  --danger-200: #ffb0a2;
  --danger-100: #ffe0d9;
  --warning-source: #efa315;
  --warning-900: #1b0400;
  --warning-800: #3e1200;
  --warning-700: #612600;
  --warning-600: #843f00;
  --warning-500: #a35d00;
  --warning-400: #bf7d00;
  --warning-300: #d69f50;
  --warning-200: #e8c492;
  --warning-100: #f7e7d3;
  --success-source: #6cc627;
  --success-900: #001100;
  --success-800: #002c00;
  --success-700: #004a00;
  --success-600: #026800;
  --success-500: #2d8600;
  --success-400: #55a30f;
  --success-300: #80bf5b;
  --success-200: #aed998;
  --success-100: #def1d6;
  --information-source: #1168e8;
  --information-900: #000331;
  --information-800: #001264;
  --information-700: #002996;
  --information-600: #0046c2;
  --information-500: #1066e5;
  --information-400: #4088fd;
  --information-300: #6faaff;
  --information-200: #a3ccff;
  --information-100: #daebff;
  --accent-source: #e97727;
  --accent-900: #200000;
  --accent-800: #470000;
  --accent-700: #6f0f00;
  --accent-600: #942a00;
  --accent-500: #b64a00;
  --accent-400: #d26d28;
  --accent-300: #e79362;
  --accent-200: #f6bc9b;
  --accent-100: #fde4d7;
  --secondary-source: #15a5ad;
  --secondary-900: #001013;
  --secondary-800: #002a30;
  --secondary-700: #00464e;
  --secondary-600: #00646c;
  --secondary-500: #008189;
  --secondary-400: #2b9ea5;
  --secondary-300: #6ababf;
  --secondary-200: #a2d5d8;
  --secondary-100: #daeff0;
  --primary-source: #1b52a1;
  --primary-900: #000925;
  --primary-800: #001d4e;
  --primary-700: #043578;
  --primary-600: #1b519e;
  --primary-500: #386ebf;
  --primary-400: #5a8dd9;
  --primary-300: #83aceb;
  --primary-200: #afccf7;
  --primary-100: #dfebfd;
  --space-desktop-xxl: var(--primitive-15);
  --space-desktop-xl: var(--primitive-11);
  --space-desktop-lg: var(--primitive-8);
  --space-desktop-md: var(--primitive-6);
  --space-tablet-xxl: var(--primitive-10);
  --space-label: var(--primitive-1);
  --medium: var(--primitive-2);
  --default: var(--primitive-1);
  --label-xs-mono: [object Object];
  --label-xs-button: [object Object];
  --label-s-button: [object Object];
  --label-m-button: [object Object];
  --label-link: [object Object];
  --label-regular: [object Object];
  --body-link: [object Object];
  --body-italic: [object Object];
  --body-bold: [object Object];
  --body-regular: [object Object];
  --mobile-heading-lg-list-item: [object Object];
  --mobile-heading-xs: [object Object];
  --mobile-heading-s: [object Object];
  --mobile-heading-m-link: [object Object];
  --mobile-heading-m: [object Object];
  --mobile-heading-lg: [object Object];
  --mobile-heading-xl-sans-link: [object Object];
  --mobile-heading-xl-sans: [object Object];
  --mobile-heading-xl-serif-link: [object Object];
  --mobile-heading-xl-serif: [object Object];
  --mobile-heading-xxl: [object Object];
  --mobile-display-lg: [object Object];
  --mobile-display-xxxl: [object Object];
  --tablet-heading-lg-list-item: [object Object];
  --tablet-heading-xs: [object Object];
  --tablet-heading-s: [object Object];
  --tablet-heading-m-link: [object Object];
  --tablet-heading-m: [object Object];
  --tablet-heading-lg: [object Object];
  --tablet-heading-xl-sans-link: [object Object];
  --tablet-heading-xl-sans: [object Object];
  --tablet-heading-xl-serif-link: [object Object];
  --tablet-heading-xl-serif: [object Object];
  --tablet-heading-xxl: [object Object];
  --tablet-display-lg: [object Object];
  --tablet-display-xxxl: [object Object];
  --desktop-heading-lg-list-item: [object Object];
  --desktop-heading-xs: [object Object];
  --desktop-heading-s: [object Object];
  --desktop-heading-m-link: [object Object];
  --desktop-heading-m: [object Object];
  --desktop-heading-lg: [object Object];
  --desktop-heading-xl-sans-link: [object Object];
  --desktop-heading-xl-sans: [object Object];
  --desktop-heading-xl-serif-link: [object Object];
  --desktop-heading-xl-serif: [object Object];
  --desktop-heading-xxl: [object Object];
  --desktop-display-lg: [object Object];
  --desktop-display-xxxl: [object Object];
  --inset-stretch-wide: var(--primitive-7) var(--primitive-5);
  --inset-stretch-narrow: var(--primitive-3) var(--primitive-2);
  --inset-stretch-default: var(--primitive-5) var(--primitive-3);
  --inset-squish-wide: var(--primitive-5) var(--primitive-7);
  --inset-squish-narrow: var(--primitive-2) var(--primitive-3);
  --inset-squish-default: var(--primitive-3) var(--primitive-5);
  --inset-square-wide: var(--primitive-7) var(--primitive-7);
  --inset-square-narrow: var(--primitive-3) var(--primitive-3);
  --inset-square-default: var(--primitive-5) var(--primitive-5);
  --spacing-3xl: var(--primitive-7);
  --space-xxl: var(--primitive-9);
  --space-xl: var(--primitive-8);
  --space-lg: var(--primitive-7);
  --space-md: var(--primitive-5);
  --space-sm: var(--primitive-4);
  --space-xs: var(--primitive-3);
  --none: var(--primitive-0);
  --space-body: var(--space-xs);
}
